// Container
.container {
    max-width: ($containerWidth + $containerPadding) + px;
    width: 100%;
    margin: 0 auto;
    padding: 0 $containerSidePadding + px;

    @media (max-width: $breakpoint1450) {
        max-width: 1200px;
    }

    @media (max-width: $breakpoint992) {
        max-width: 970px;
    }

    @media (max-width: $breakpoint768) {
        max-width: 740px;
    }

    @media (max-width: $breakpoint480) {
        max-width: none;
    }
}

// Body Locked
body {
    &.locked {
        overflow: hidden;
    }
    display: flex;
    flex-direction: column;
    font-family: 'Fira Sans', sans-serif;
    font-weight: 400;
}

//patterns

.title{
    color: #FFF;
    font-size: 48px;
    font-weight: 500;
    line-height: normal;
}

.btn{
    color: #FFF;
    font-size: 18px;
    font-weight: 400;
    line-height: 155.5%;

    border-radius: 30px;
    background: #003ADB;
    box-shadow: 0px 10px 30px 0px rgba(64, 106, 255, 0.24);
    transition: box-shadow 0.2s ease;
    padding: 8px 24px;

    &:hover{
        box-shadow: none;    
    }
}


// Animations
// Fade
@keyframes fade {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
