//Header
.header {
    padding: 62px 0;
    background: #0C1117;
    &__container {
        max-width: 1640px;
    margin: 0 auto;
    padding: 0 20px;
    }
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
}
.menu {
    display: flex;
    align-items: center;
    gap: 60px;

    &__item {
    }

    &__item-link {
        color: #FFF;
        font-size: 20px;
        font-weight: 500;
        transition: color 0.2s ease;

        &:hover{
            color: #003ADB;
        }
    }
}