.intro {
    background: #0C1117;
    position: relative;


    &__body {
        display: flex;
        align-items: center;
    }

    &__textbox {
        max-width: 668px;
        padding-top: 50px;
        padding-bottom: 230px;
    }

    &__title {
        color: #FFF;
        font-size: 85px;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 29px;
    }

    &__subtext {
        color: #FFF;
        font-size: 20px;
        font-weight: 300;
        line-height: 140%;
        margin-bottom: 58px;
    }

    &__btn {
        display: flex;
        max-width: fit-content;
    }

    &__image{
        position: absolute;
        right: 0;
        top: 0;
        
        img{
            width: 50vw;
            height: auto;   
        }
    }
}
